@import '../global/global.styles.scss';

.app-container-wrapper {
	width     : 100%;
	height    : 100%;
	background: darken($color-bg, 2%);
	overflow  : hidden;
	overflow-y: scroll;
	margin    : 0 $nav-size 0 $avatar-size;

	&::-webkit-scrollbar-thumb {
		visibility: hidden;
	}

	&:hover::-webkit-scrollbar-thumb {
		visibility: visible;
	}

	.container-shadow {
		position      : absolute;
		top           : 0;
		width         : 100%;
		height        : 50px;
		background    : linear-gradient(to bottom, darken($color-bg, 2%) 5%, rgba(darken($color-bg, 2%), 0%) 80%);
		z-index       : 1000;
		pointer-events: none;

		&:last-child {
			top       : auto;
			bottom    : 0;
			background: linear-gradient(to top, darken($color-bg, 2%) 5%, rgba(darken($color-bg, 2%), 0%) 80%);
		}
	}
}

@media screen and (max-width: 1024px) {
	.app-container-wrapper {
		margin        : 0;
		height        : calc(100% - $nav-size-bottom);
		padding-bottom: $padding;

		&::-webkit-scrollbar-thumb {
			visibility: visible;
		}
	}
}

body.light-mode {
	.app-container-wrapper {
		background: darken($color-bg-lt, 2%);
	}
}