@import '../../components/global/global.styles.scss';



.stack-card {
	display       : flex;
	flex-direction: column;

	>div {
		display    : inline-flex;
		align-items: center;

		svg {
			max-width: 35px;
			fill     : $color-blue;
		}
	}

	h3 {
		color: lighten($color-grey, 40%);
	}

	p {
		margin-bottom: .5em;
	}
}