@import '../../components/global/global.styles.scss';

.nav-button {
	position: relative;
	cursor  : pointer;

	.nav-icon {
		display       : block;
		width         : 25px;
		margin        : 1em;
		fill          : $color-orange;
		pointer-events: none;
	}

	&:hover {
		.nav-icon {
			fill: $color-yellow;
		}
	}
}