@import '../../components/global/global.styles.scss';

.main-section {
	height   : 100%;
	width    : 60%;
	padding  : 3%;
	font-size: 18px;

	h1 {
		color: $color-orange;
	}

	h3 {
		color     : $color-yellow;
		margin    : .1em 0 .6em;

		span {
			color: darken($color-yellow, 20%);
		}
	}

	p {
		font-size: .9em;
	}
}