@import '../../components/global/global.styles.scss';

.contact-form {
	position       : relative;
	display        : flex;
	flex-direction : row;
	flex-wrap      : wrap;
	justify-content: space-between;

	>div {
		display      : flex;
		margin-bottom: 1.5em;
	}

	label {
		position   : absolute;
		margin-left: .5em;
		font-style : italic;
		font-size  : 0.9em;
		transform  : translateX(0);
		transition : transform .15s ease-in-out;
	}

	input {
		width: 100%;
	}

	input,
	textarea {
		font-size    : 1em;
		font-style   : italic;
		background   : none;
		color        : $color-white;
		border-bottom: 1px solid $color-grey-light;
		border-left  : 1px solid $color-grey-light;
		width        : 100%;
		padding      : 1.5em .7em .5em;

		&::placeholder {
			color: $color-grey-light;
		}

		&:focus+label {
			color    : $color-yellow;
			transform: translateX(0.5em);
		}
	}

	.name,
	.email {
		width: 48%;
	}

	.subject {
		width: 100%;
	}

	.message {
		width: 100%;

		textarea {
			height    : 100%;
			min-height: 2.5em;
			max-height: 330px;
			resize    : vertical;
		}
	}

	.submit {
		color     : $color-coral;
		background: $color-orange;

		&:hover {
			color     : $color-grey;
			background: $color-coral;
		}
	}
}

.popup {
	position   : absolute;
	top        : 0;
	margin-top : 1em;
	padding    : .5em 1em;
	background : #111;
	color      : #00fa9a;
	opacity    : 0;
	transform  : translateY(-100%);
	transition : transform .3s ease-out;
	will-change: transform;
	text-align : center;

	&.success {
		opacity  : 1;
		transform: translateY(0);
	}
}

// @media only screen and (max-height: 600px) {
// 	.contact-form {
// 		flex-flow: row wrap;
// 	}
// }