@import '../../components/global/global.styles.scss';

.tool {
	display    : flex;
	align-items: center;
	color      : $color-blue-light;
	font-family: 'Barlow Condensed', sans-serif;

	p {
		color      : $color-blue;
		white-space: nowrap;

		span {
			color    : $color-blue;
			font-size: 0.8em;
		}
	}

	.progress {
		width        : 100%;
		background   : rgba(lighten($color-grey, 10%), 20%);
		height       : 3px;
		margin       : 0 1em;
		border-radius: 100px;

		>div {
			display        : flex;
			align-items    : center;
			justify-content: flex-end;
			height         : 100%;
			background     : linear-gradient(to right, rgba($color-blue, 5%), $color-blue);

			div {
				width        : 7px;
				height       : 7px;
				background   : $color-blue;
				border-radius: 50%;
			}
		}
	}
}

body.dark-mode {
	.tool {
		color: $color-blue-light;

		p {
			color      : $color-blue;
			white-space: nowrap;
		}

		span {
			color: $color-blue;
		}

		.progress {
			>div {
				background: linear-gradient(to right, rgba($color-green, 5%), $color-green);

				div {
					background: $color-green;
				}
			}
		}
	}
}