@import '../../components/global/global.styles.scss';

.skills {
	a {
		color: $color-highlight;

		&:hover {
			color: lighten($color-highlight, 10%);
		}
	}
}

body.light-mode {
	.skills {
		a {
			color: $color-highlight-lt;

			&:hover {
				color: lighten($color-highlight-lt, 10%);
			}
		}
	}
}