@import '../../components/global/global.styles.scss';

.navigation {
	display       : flex;
	flex-direction: column;
	background    : lighten($color-grey, 6%);
	padding       : 0 20px;

	.nav-external {
		margin: auto;

		img {
			height: 1.2em;
			margin: 1em 0;
			filter: contrast(.3);
			cursor: pointer;
		}
	}
}

@media screen and (max-device-width: 768px) {
	.navigation {
		padding: 0 10px;
	}
}