@import '../../components/global/global.styles.scss';

.under-construction {
	position : absolute;
	top      : 0;
	transform: rotate(-45deg);
	filter   : drop-shadow(0px 2px 7px rgba($color-grey, .6));

	>div {
		position     : absolute;
		top          : 70px;
		left         : 50%;
		transform    : translate(-50%);
		color        : black;
		font-family  : fantasy;
		padding      : .3em 0 .2em;
		width        : 300px;
		text-align   : center;
		background   : yellow;
		border-top   : 3px dotted black;
		border-bottom: 3px dotted black;
		white-space  : nowrap;

		p {
			font-family: "Barlow Condensed", sans-serif;
			font-size  : .8em;
			color      : $color-orange;
		}
	}
}