@import '../global/global.styles.scss';

.divider {
	width     : 100%;
	height    : 1px;
	background: lighten($color-panel, 10%);
	margin    : $padding 0;
}

body.light-mode {
	.divider {
		background: lighten($color-panel-lt, 10%);
	}
}