@import '../../components/global/global.styles.scss';

.main-content {
	display       : flex;
	flex-direction: column;
	padding       : 1.5em;
	background    : linear-gradient(to right, $color-white 2%, rgba(darken($color-blue, 10%), 60%) 100%);
	overflow      : hidden;

	>div:nth-child(2) {
		overflow     : hidden;
		overflow-y   : scroll;
		padding-right: .7em;
	}
}

@media screen and (max-width: 768px) {
	.main-content {
		>div:nth-child(2) {
			padding-right: 0;
		}
	}
}

body.dark-mode {
	.main-content {
		background: linear-gradient(to right, $color-black 2%, rgba($color-blue, 40%) 100%);
	}
}