@import '../../components/global/global.styles.scss';

.skills {
	button {
		margin-top: 1em;
		color     : $color-coral;
		background: $color-orange;

		&:hover,
		&:focus {
			color     : $color-grey;
			background: $color-coral;
		}
	}
}