@import '../../components/global/global.styles.scss';

.tooltip {
	top           : 0;
	position      : absolute;
	pointer-events: none;
	opacity       : 0;
	margin-top    : -.3em;
	margin-left   : .5em;
	z-index       : 100;
	transition    : .15s opacity ease-in;
	padding       : .2em .5em .3em;
	color         : $color-bg;
	border-radius : .7em;
	text-shadow   : 1px 1px 10px darken($color-highlight, 10%), 1px 1px 3px $color-bg;
	pointer-events: none;
	user-select   : none;
}

// body.dark-mode {
// 	.tooltip {
// 		color      : lighten($color-highlight, 10%);
// 		text-shadow: 1px 1px 10px darken($color-highlight, 10%), 1px 1px 3px $color-bg;
// 	}
// }