@import '../../components/global/global.styles.scss';

$bullet-size     : 10px;
$list-bullet-size: 5px;

.timeline-wrapper {
	margin               : $padding auto 0;
	display              : grid;
	grid-template-columns: 1fr 1fr;

	.timeline-item-container {
		position      : relative;
		display       : flex;
		flex-direction: column;

		h3 {
			position     : relative;
			color        : $color-highlight;
			margin-bottom: $padding * .5;
			margin       : 0 $padding 1em;

			&::after {
				content   : '';
				position  : absolute;
				bottom    : -.5em;
				left      : 0;
				width     : 100%;
				height    : 1px;
				background: $color-panel;
			}
		}

		.timeline-item {
			padding    : $padding $padding 0;
			margin     : $padding 0;
			position   : relative;
			color      : $color-copy;
			border-left: 2px solid $color-panel;

			h4 {
				margin-bottom: $padding * .25;

				span {
					margin-left: 0.5em;
					font-size  : 0.9em;
					font-weight: 300;
					color      : $color-sub-copy;
				}
			}

			p {
				position: relative;

				&::before {
					content   : '';
					position  : absolute;
					top       : 8.5px;
					left      : -$padding * .5 - $list-bullet-size * .5;
					width     : $list-bullet-size;
					height    : $list-bullet-size;
					background: $color-panel;
				}

				&:hover {
					&::before {
						background: $color-highlight;
					}
				}
			}

			&:first-child {
				margin: 0 0 $padding;
			}

			&::before {
				content    : attr(from-to);
				position   : absolute;
				top        : $bullet-size * .2;
				left       : $padding;
				font-size  : .9em;
				font-weight: 300;
				@extend .font-roboto;
			}


			&::after {
				content   : '';
				position  : absolute;
				top       : $bullet-size * .5;
				left      : -$bullet-size * .5 - 1;
				width     : $bullet-size;
				height    : $bullet-size;
				border    : 2px solid $color-highlight;
				background: $color-highlight;
			}

			&:hover {
				&::after {
					background: $color-bg;
				}
			}
		}
	}
}

@media only screen and (max-width: 1024px) {
	.timeline-wrapper {
		grid-template-columns: 1fr;
	}
}