@import './components/global/global.styles.scss';

#root {
	padding    : $page-padding;
	background : $color-bg;
	user-select: none;
}

.app-wrapper {
	position  : relative;
	display   : flex;
	flex-wrap : nowrap;
	margin    : 0 auto;
	max-width : 1920px;
	height    : 100%;
	background: $color-panel;

	.app-details-wrapper {
		position       : fixed;
		display        : flex;
		flex-direction : column;
		justify-content: space-between;
		flex           : 0 0 auto;
		width          : 300px;
		height         : calc(100vh - $page-padding * 2);
		background     : $color-panel;

		.avatar-wrapper {
			position       : relative;
			display        : flex;
			justify-content: center;
			align-items    : center;
			flex           : 0 0 auto;
			width          : $avatar-size;
			height         : $avatar-size - $padding;
			padding        : $padding * .8;
			background     : $panel-gradient;

			.avatar {
				display    : flex;
				flex-flow  : column nowrap;
				align-items: center;

				.avatar-picture {
					width              : $avatar-size * .4;
					height             : $avatar-size * .4;
					background         : url(./assets/profile_bw.jpg);
					background-size    : cover;
					background-position: center 100%;
					background-repeat  : no-repeat;
					border-radius      : 50%;
					overflow           : hidden;
					margin-bottom      : $padding * .5;
				}

				.name {
					color: $color-copy;
				}

				.profession {
					color: $color-sub-copy;
				}

				.download {
					margin   : 10px 0 0;
					font-size: 0.9em;

					&:focus {
						background: $color-highlight;
					}
				}
			}
		}

		.avatar-shadow {
			position  : absolute;
			bottom    : 0;
			transform : translateY(100%);
			width     : 100%;
			height    : 50px;
			background: linear-gradient(to bottom, $color-panel 5%, rgba($color-panel, 0%) 80%);
		}

		.personal-info-wrapper {
			padding   : $padding;
			overflow  : hidden;
			overflow-y: scroll;
			height    : 100%;

			&::-webkit-scrollbar-thumb {
				visibility: hidden;
			}

			&:hover::-webkit-scrollbar-thumb {
				visibility: visible;
			}

			.personal-info {
				.location {
					ul {
						li {
							display        : flex;
							justify-content: space-between;
							align-items    : center;
							margin-bottom  : 5px;

							&:last-child {
								margin-bottom: $padding;
							}

							span {
								font-size: 0.9em;
								color    : $color-sub-copy;
							}
						}
					}
				}

				.languages-wrapper {
					display       : flex;
					flex-direction: column;
					margin        : $padding 0;

					.languages {
						display        : flex;
						justify-content: space-evenly;
					}
				}

				.skills-wrapper {
					display       : flex;
					flex-direction: column;
					margin        : $padding 0;

					.learning {
						font-size: 0.8em;
						color    : $color-sub-copy;
					}

					.skills {
						display       : flex;
						flex-direction: column;
						margin        : $padding * .5 0 $padding;
					}
				}
			}
		}
	}

	.app-container-wrapper {
		width     : 100%;
		height    : 100%;
		background: darken($color-bg, 2%);
		overflow  : hidden;
		overflow-y: scroll;
		margin    : 0 $nav-size 0 $avatar-size;

		&::-webkit-scrollbar-thumb {
			visibility: hidden;
		}

		&:hover::-webkit-scrollbar-thumb {
			visibility: visible;
		}

		.app-container {
			// height: 120%;
		}
	}

	.app-navigation-wrapper {
		position       : absolute;
		right          : 0;
		width          : $nav-size;
		height         : 100%;
		display        : flex;
		flex-direction : column;
		justify-content: center;
		align-items    : center;
		flex           : 0 0 auto;
		background     : $color-panel;
		z-index        : 1000;

		.logo {
			position: absolute;
			width   : $nav-size * .7;
			top     : $padding;
		}

		.app-navigation {
			display        : flex;
			flex-direction : column;
			align-items    : center;
			justify-content: center;
		}
	}

	.toggle-details {
		position       : fixed;
		right          : 0;
		display        : none;
		flex-flow      : column wrap;
		justify-content: space-between;
		width          : $padding;
		height         : $padding * .7;
		margin         : 15px;
		z-index        : 500;
		cursor         : pointer;

		div {
			height          : 2px;
			background      : #61DFFF;
			border-radius   : 10px;
			margin          : 2.5px 0;
			transform-origin: left;
			transition      : transform .5s cubic-bezier(0.075, 0.82, 0.165, 1);
		}

		.top {
			transform: rotate(0deg);
		}

		.bottom {
			transform: rotate(0deg);
		}
	}
}

::-webkit-scrollbar {
	width        : 4px;
	height       : 4px;
	border-radius: 12px;
	cursor       : pointer;
}

::-webkit-scrollbar-track {
	background   : transparent;
	border-radius: 12px;
	margin       : 5px 0;
}

::-webkit-scrollbar-thumb {
	background   : darken($color-highlight, 20%);
	border-radius: 12px;
	min-height   : 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: $color-highlight;
}

@media screen and (max-width: 1024px) {
	#root {
		padding: 0;
	}

	.app-wrapper {
		.app-details-wrapper {
			position  : fixed;
			width     : 100%;
			height    : 100%;
			transform : translateX(-100%);
			transition: transform .5s ease-out;
			z-index   : 200;

			&.open {
				transform: translateX(0%);
			}

			.avatar-wrapper {
				width: 100%;
			}

			.personal-info-wrapper {
				&::-webkit-scrollbar-thumb {
					visibility: visible;
				}
			}
		}

		.app-container-wrapper {
			margin        : 0;
			padding-bottom: $nav-size * .6;

			&::-webkit-scrollbar-thumb {
				visibility: visible;
			}
		}

		.app-navigation-wrapper {
			bottom    : 0;
			width     : 100%;
			height    : $nav-size * .6;
			box-shadow: 0 -1px 10px $color-bg;

			.logo {
				display: none;
			}

			.app-navigation {
				flex-direction: row;

				.nav-button {
					margin: 0 $padding * .8;
				}
			}
		}

		.toggle-details {
			display: flex;

			&.open {
				color: $color-copy;

				.top {
					transform: rotate(24deg);
				}

				.bottom {
					transform: rotate(-24deg);
				}
			}
		}
	}
}