@import './components/global/global.styles.scss';

.app-wrapper {
	position  : relative;
	display   : flex;
	flex-wrap : nowrap;
	margin    : 0 auto;
	max-width : 1920px;
	height    : 100%;
	background: $color-panel;

	.app-shadow {
		position      : absolute;
		top           : 0;
		width         : 100%;
		height        : 50px;
		background    : linear-gradient(to bottom, darken($color-bg, 2%) 5%, rgba(darken($color-bg, 2%), 0%) 80%);
		z-index       : 1000;
		pointer-events: none;
	}
}

body.light-mode {
	.app-wrapper {
		background: $color-panel-lt;
	}
}