@import './components/global/global.styles.scss';

.routes {
	display              : grid;
	// grid-template-columns: 70px 350px 1fr;
	grid-template-columns: 1fr 400px 70px;
	grid-auto-flow       : column;
	width                : 100%;
	max-width            : 1600px;
	max-height           : 1000px;
	height               : 100%;
	padding              : 3%;
}

@media screen and (max-width: 768px) {
	.routes {
		grid-template-columns: none;
		grid-template-rows   : 1fr 50px;
		max-height           : initial;
		padding              : 0;
	}
}