@import './components/global/global.styles.scss';

html,
body,
#root {
	height     : 100%;
	user-select: none;
}

body {
	font-family            : 'Quicksand', sans-serif;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size              : 16px;
	font-weight            : 300;
	background             : $color-black;
	color                  : $color-grey-light;
}

#root {
	display        : flex;
	justify-content: center;
	align-items    : center;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	padding   : 0;
	margin    : 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	display: block;
}

h1,
h2,
h3 {
	font-family: 'Barlow Condensed', sans-serif;
}

textarea,
input,
input::placeholder {
	font-family: 'Barlow Condensed', sans-serif;
	outline    : 0;
	border     : 0;
}

button {
	outline    : none;
	border     : none;
	padding    : .7em 1em;
	cursor     : pointer;
	font-family: 'Quicksand', sans-serif;
}