@import './components/global/global.styles.scss';

body,
html,
#root {
	display: block;
	height : 100%;
}

body {
	position               : relative;
	display                : block;
	overflow               : hidden;
	-webkit-font-smoothing : antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size              : 14px;
	font-weight            : 300;
	color                  : $color-copy;
	@extend .font-poppins;
}

#root {
	margin: 0 auto;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
	padding   : 0;
	margin    : 0;
	box-sizing: border-box;
}

*::before,
*::after {
	box-sizing: border-box;
}

a {
	color          : $color-copy;
	text-decoration: none;
}

img {
	display: block;
}

button,
textarea,
input,
input::placeholder {
	outline: 0;
	border : none;
	@extend .font-roboto;
}

button {
	padding   : $padding * .3 $padding * .5;
	cursor    : pointer;
	background: $color-copy;
	border    : none;

	&:hover {
		background: $color-highlight;
	}
}

ul {
	list-style: none;
}