$color-white       : #FFFFFF;
$color-black       : #000000;
$color-bg          : #191923;
$color-panel-light : #272730;
$color-panel       : #20202A;
$color-sub-copy    : #797985;
$color-copy        : #FAFAFC;
$color-highlight   : #61DFFF;

$panel-gradient: linear-gradient(38deg, $color-panel-light 0%, darken($color-panel, 1%) 100%);

$page-padding: 20px;
$nav-size    : 80px;
$avatar-size : 300px;
$padding     : 25px;

.font-roboto {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

.font-poppins {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}